html, body {
  background-color: white;
  font-family: 'Crimson Text', serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

.breadcrumb {
  background: white;
  border-color: #9b9b9b;
}

.breadcrumb li a {
  color: black;
}

hr {
  border-color: black;
  width: 100%;
}

.icon {
  color: black;
  font-size: 20px;
}

.indent {
  font-size: 18px;
  margin-left: 60px;
}

.jumbotron {
  background-position: center;
  background-size: cover;
  height: 450px;
  padding: 120px 80px;
}

#jumbo-home {
  background-image: url(../img/hdd-75210.jpeg);
  color: white;
  padding: 70px 80px 50px 80px;
}

#jumbo-exp {
  background-image: url(../img/pexels-photo-247791.png);
}

#jumbo-edu {
  background-image: url(../img/pexels-photo.jpg);
}

#jumbo-res {
  background-image: url(../img/keyboard-black-notebook-input-163130.jpeg);
}

.left {
  color: black;
  height: auto;
  margin-left: 10%;
  margin-top: 65px;
  position: absolute;
  text-align: center;
  width: 20%;
}

.left h4 {
  font-size: 18px;
}

.left h1 {
  font-size: 30px;
}

.left hr {
  border-color: black;
}

.left p {
  font-size: 16px;
}

nav {
  font-size: 18px;
  position: static;
}

.page-background {
  background-color: #7c7c7c;
  height: 530px;
  left: 0;
  right: 0;
  position: absolute;
  top: 0;
}

.page-content {
  background-color: white;
  color: black;
  height: auto;
  margin-left: 20%;
  margin-right: 20%;
  position: absolute;
  top: 560px;
}

.page-content h2 {
  font-size: 30px;
}

.page-content h4 {
  font-size: 22px;
}

.page-content li {
  font-size: 18px;
}

.page-content p {
  font-size: 18px;
}

.page-jumbotron {
  color: white;
  left: 0;
  margin: 45px 10%;
  position: absolute;
  right: 0;
}

#portrait {
  border: 5px solid white;
  border-radius: 50%;
  height: auto;
  max-height: 250px;
  max-width: 250px;
  width: auto;
}

#resume-title {
  text-align: center;
}

.right {
  height: auto;
  margin-right: 10%;
  margin-top: 65px;
  position: absolute;
  right: 0;
  width: 58%;
}

.right-content {
  border: 2px black solid;
    background: white;
    border-radius: 1%;
    color: black;
    padding: 20px 50px 20px 50px;
}

#site-info {
  padding-left: 120px;
  padding-right: 120px;
}

@media (max-width: 1200px) {
  #jumbo-home {
    padding: 120px 10px;
  }

  .left {
    margin-left: 2%;
    width: 30%;
  }

  .right {
    margin-right: 2%;
  }
}

@media (max-width: 768px) {
  .page-content {
    margin-left: 5px;
    margin-right: 5px;
  }

  .page-jumbotron {
    margin: 45px 0;
    padding: 120px 10px;
  }

  .left {
    margin-left: 13%;
    width: 74%;
  }

  .right {
    display: none;
  }

  #site-info {
    padding-left: 20px;
    padding-right: 20px;
  }
}
